/* Убираем отступы и маркеры для всех элементов на странице */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Включаем модель коробки, где размеры включают и паддинги, и границы */
}


/* Основные стили для body, включая шрифт, размеры, цвет фона */
body {
    font-family: Arial, sans-serif; /* Шрифт страницы */
    font-size: 18px; /* Размер шрифта */
    line-height: 1.6; /* Межстрочный интервал */
    color: #3D3D3D; /* Цвет текста (чёрный) */
    background-color: #fff; /* Белый фон страницы */
    padding: 32px; /* Отступы вокруг содержимого страницы */
}

.page-header {
    width: 1900px;
    min-height: 900px;
}

/* Стили для навигации: гибкое размещение элементов */
.navigation {
    display: flex; /* Используем flexbox для размещения элементов */
    justify-content: space-between; /* Элементы распределяются с максимальным промежутком */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    padding: 15px 32px; /* Отступы внутри контейнера */
    position: relative; /* Для возможности использования абсолютного позиционирования внутри */
}

/* Стили для списка навигации */
.navigation-list {
    display: flex; /* Список также является гибким контейнером */
    gap: 70px; /* Расстояние между элементами списка */
    list-style: none; /* Убираем маркеры у списка */
}

/* Стили для ссылок в навигации */
.navigation-title {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: #3D3D3D; /* Цвет текста (чёрный) */
    font-size: 20px; /* Размер шрифта */
    font-weight: 500; /* Полужирный шрифт */
    margin-left: -23px;
}

/* Стили для кнопки "Начать помогать" */
.conteiner_button_start {
    font-size: 18px; /* Размер шрифта */
    width: 216px; /* Ширина кнопки */
    height: 41px; /* Высота кнопки */
    display: flex; /* Используем flexbox для размещения контента в кнопке */
    align-items: center; /* Выравнивание по вертикали */
    justify-content: center; /* Выравнивание по горизонтали */
    border: 2px solid #3D3D3D; /* Серая граница */
    border-radius: 50px; /* Закругленные углы */
    cursor: pointer; /* Курсор "указатель" при наведении */
    margin-right: 35px; /* Отступ справа, чтобы кнопка была прижата к правому краю */
    background-color: #ffffff;
}


/* Контейнер для текста в заголовке, выравнивание по центру */
.header-text-container {
    display: flex; /* Используем flexbox для выравнивания элементов */
    align-items: center; /* Вертикальное выравнивание по центру */
    margin-top: 40px; /* Отступ сверху от других элементов */
    margin-left: 52px;
    
}

/* Стили для списка заголовков, убираем маркеры и выравниваем текст по центру */
.text-header-list {
    list-style: none; /* Убираем маркеры списка */
    text-align: right; /* Выравнивание текста по центру */
}

/* Основной заголовок, задаем размер шрифта и жирность */
.text-header {
    font-size: 130px; /* Размер шрифта */
    font-weight: 800; /* Очень жирный шрифт */
    margin-bottom: 10px; /* Отступ снизу между этим заголовком и следующим элементом */
    color: white; /* Белый цвет текста */
    margin-top: -1010px; /* Подняла текст до нужного уровня */
    text-align: left; /* Текст будет выровнен по левому краю */
    line-height: 120%; /* Межстрочный интервал */

}

/* Маленький текст, использующий более легкий шрифт */
.text-header-small {
    font-size: 30px; /* Размер шрифта */
    font-weight: 400; /* Легкий шрифт */
    margin-bottom: 20px; /* Отступ снизу, для создания пространства между текстом и кнопкой */
    color: white; /* Белый цвет текста */
    text-align: left; /* Выровнять текст по левому краю */
    margin-right: 82px; /* Отсутствие отступа справа */
    position: absolute; /* Абсолютное позиционирование */
    right: 0; /* Прижимаем текст к правому краю */
    margin-top: -100px;
    line-height: 120%; /* Межстрочный интервал */
}

/* Стили для кнопки в заголовке */
.conteiner_button_header {
    font-size: 24px; /* Размер шрифта */
    color: #BF632F; /* Белый цвет текста на кнопке */
    background-color: #ffffff; /* Черный фон кнопки */
    padding: 20px 40px; /* Паддинги внутри кнопки (по вертикали 20px, по горизонтали 40px) */
    border-radius: 100px; /* Округление углов кнопки для более круглой формы */
    border: none; /* Убираем границу у кнопки */
    cursor: pointer; /* Указываем, что элемент кликабельный */
    width: 180px;
    height: 180px;
    margin-top: 340px;
    margin-right: 900px;
}

/* Эффект при наведении на кнопку */
.conteiner_button_header:hover {
    background: #BF632F; /* Легкое изменение фона при наведении */
}

.conteiner_button_header_two {
    background-color: transparent; /* Убираем фон кнопки */
    border-radius: 200px; /* Закругление углов кнопки */
    border: 2px solid #ffffff; /* Черная граница */
    width: 210px; /* Ширина кнопки */
    height: 210px; /* Высота кнопки */
    position: absolute; /* Абсолютное позиционирование */
    top: 775px; /* Отступ от верхнего края */
    right: 856px; /* Отступ справа */
}

/* Стили для контейнера с изображением */
.image-container {
    display: flex; /* Используем flexbox */
    justify-content: center; /* Выравниваем изображение по центру */
    margin-top: 25px; /* Отступ сверху от других элементов */
    margin-right: 60px;
}

/* Стили для фона (изображения) */
.background-image {
    width: 100%; /* Ширина изображения — на всю ширину контейнера */
    height: auto; /* Высота сохраняет пропорции изображения */
    margin-right: 32px;
    margin-left: 32px;
}

/* Стили для логотипа, позиционируем его по центру */
.logo {
    position: absolute; /* Абсолютное позиционирование */
    top: 50%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    transform: translate(-110%, -50%); /* Смещаем логотип на 50% его ширины и высоты для точного центрирования */
    height: 61px; /* Устанавливаем высоту логотипа */
    width: auto; /* Ширина сохраняет пропорции */
}

.page-main {
    width: 1900px;
    min-height: 900px;
}

.conteiner_mission {
    display: flex;
    flex-wrap: wrap;
}

.our_mission {
    font-size: 53px;
    color: #3D3D3D;
    font-weight: 400; /* Легкий шрифт */
    text-align: left; /* Выровнять текст по левому краю */
    margin-right: 50px; /* Отсутствие отступа справа */
    position: absolute; /* Абсолютное позиционирование */
    right: 0; /* Прижимаем текст к правому краю */
    margin-top: 80px;
    line-height: 120%; /* Межстрочный интервал */
}

.our_mission_small{

    font-size: 25px;
    color: #3D3D3D;
    font-weight: 400; /* Легкий шрифт */
    text-align: left; /* Выровнять текст по левому краю */
    margin-right: 360px; /* Отсутствие отступа справа */
    position: absolute; /* Абсолютное позиционирование */
    right: 0; /* Прижимаем текст к правому краю */
    margin-top: 310px;
    line-height: 120%; /* Межстрочный интервал */
}

.image_lion {
    display: flex; /* Используем flexbox */
    justify-content: center; /* Выравниваем изображение по центру */
    margin-top: 75px; /* Отступ сверху от других элементов */
    margin-right: 60px;
}

.button_start_help {
    font-size: 30px; /* Размер шрифта */
    color: #3E3E3E; /* Белый цвет текста на кнопке */
    background-color: #BF632F; /* Черный фон кнопки */
    padding: 20px 40px; /* Паддинги внутри кнопки (по вертикали 20px, по горизонтали 40px) */
    border-radius: 50px; /* Округление углов кнопки для более круглой формы */
    border: none; /* Убираем границу у кнопки */
    cursor: pointer; /* Указываем, что элемент кликабельный */
    width: 915px; /* Ширина кнопки */
    height: 66px; /* Высота кнопки */
    margin-top: 559px;
    margin-left: 0px; /* Отступ справа, чтобы кнопка была прижата к правому краю */
    display: flex; /* Используем flexbox для размещения контента в кнопке */
    align-items: center; /* Выравнивание по вертикали */
    justify-content: center; /* Выравнивание по горизонтали */
}


.forest-stats {
    text-align: center;
    border-radius: 10px;
    padding: 20px 40px;
    margin-top: 50px;
    margin-left: 60px;
  }
  
.forest-stats h1 {
    font-size: 60px;
    color: #3E3E3E;
    margin: 0;
  }
  
.forest-stats p {
    font-size: 40px;
    color: #3E3E3E;
    margin: 10px 0 0;
  }

.number_of_realized {
    text-align: center;
    border-radius: 10px;
    padding: 20px 40px;
    margin-top: -210px;
    margin-left: 970px;
  }

.number_of_realized h1 {
    font-size: 60px;
    color: #3E3E3E;
    margin: 0;
  }
  
.number_of_realized p {
    font-size: 40px;
    color: #3E3E3E;
    margin: 10px 0 0;
  }

.number_of_rescued_animals {
    text-align: center;
    border-radius: 10px;
    padding: 20px 40px;
    margin-top: 10px;
    margin-left: 110px;
  }

.number_of_rescued_animals h1 {
    font-size: 60px;
    color: #3E3E3E;
    margin: 0;
  }
  
.number_of_rescued_animals p {
    font-size: 40px;
    color: #3E3E3E;
    margin: 10px 0 0;
  }

  .number_of_volunteers {
    text-align: center;
    border-radius: 10px;
    padding: 20px 40px;
    margin-top: -210px;
    margin-left: 1120px;
  }

.number_of_volunteers h1 {
    font-size: 60px;
    color: #3E3E3E;
    margin: 0;
  }
  
.number_of_volunteers p {
    font-size: 40px;
    color: #3E3E3E;
    margin: 10px 0 0;
  }

.custom-line_1 {
    border: 0;
    height: 2px; /* Толщина линии */
    background: linear-gradient(to right, #4caf50, #81c784); /* Градиентная заливка */
    margin: 20px 0; /* Отступы сверху и снизу */
}


.how_we_work {
    width: 1900px;
    min-height: 900px;
}

.image_dolphin {
    display: flex; /* Используем flexbox */
    margin-top: 75px; /* Отступ сверху от других элементов */
    margin-right: 60px;
}

.image_giraffe {
    display: flex; /* Используем flexbox */
    margin-top: 50px; /* Отступ сверху от других элементов */
    margin-left: 300px;
}

.our_work {
    font-size: 80px;
    color: #3D3D3D;
    font-weight: 600; /* Легкий шрифт */
    text-align: left; /* Выровнять текст по левому краю */
    margin-right: 317px; /* Отсутствие отступа справа */
    position: absolute; /* Абсолютное позиционирование */
    right: 0; /* Прижимаем текст к правому краю */
    margin-top: -910px;
    line-height: 120%; /* Межстрочный интервал */
}

.for_our_importent {
    font-size: 27px;
    color: #3D3D3D;
    font-weight: 400; /* Легкий шрифт */
    text-align: left; /* Выровнять текст по левому краю */
    margin-right: 165px; /* Отсутствие отступа справа */
    position: absolute; /* Абсолютное позиционирование */
    right: 0; /* Прижимаем текст к правому краю */
    margin-top: -760px;
    line-height: 120%; /* Межстрочный интервал */
}

.custom-lines {
    list-style: none; /* Убираем стандартные маркеры списка */
    padding: 0;
    margin: 0;
    margin-left: auto; /* Отодвигаем список вправо */
    width: 50%; /* Устанавливаем ширину контейнера в половину страницы */
    text-align: left; /* Выравниваем содержимое по левому краю внутри контейнера */
    margin-top: -580px; /* Убираем отрицательные отступы сверху */
    margin-right: 125px;
}

.custom-lines li {
    margin-bottom: 30px; /* Добавляем отступ между пунктами */
}

.custom-lines hr {
    height: 1px; /* Толщина линии */
    width: 100%; /* Длина линии */
    background-color: #3E3E3E; /* Цвет линии */
    text-align: left; /* Выравниваем содержимое по левому краю внутри контейнера */
    border: none; /* Убираем границу, чтобы линия была сплошной */
    
}

.custom-lines p {
    display: flex; /* Используем flex для выравнивания текста и стрелки в одну строку */
    justify-content: space-between; /* Раздвигаем текст и стрелку по краям */
    margin: 0; /* Убираем отступы у параграфа */
    font-size: 32px;
    align-items: center; /* Центрируем элементы по вертикали */
}

.arrow {
    font-size: 40px; /* Размер стрелки */
}

.image-container_elephant {
    display: flex; /* Используем flexbox */
    justify-content: center; /* Выравниваем изображение по центру */
    margin-top: 75px; /* Отступ сверху от других элементов */
    margin-right: 0px;
}

/* Контейнер для текста в заголовке, выравнивание по центру */
.text_container {
    display: flex; /* Используем flexbox для выравнивания элементов */
    align-items: center; /* Вертикальное выравнивание по центру */
    margin-top: 40px; /* Отступ сверху от других элементов */
    margin-left: 52px;
    
}

.text_list {
    list-style: none; /* Убираем маркеры списка */
    text-align: right; /* Выравнивание текста по центру */
}

.text_elephant {
    font-size: 75px; /* Размер шрифта */
    font-weight: 800; /* Очень жирный шрифт */
    margin-bottom: 10px; /* Отступ снизу между этим заголовком и следующим элементом */
    color: white; /* Белый цвет текста */
    margin-top: -630px; /* Подняла текст до нужного уровня */
    text-align: center; /* Текст будет выровнен по левому краю */
    line-height: 120%; /* Межстрочный интервал */
    margin-left: 255px; /* Отсутствие отступа справа */

}

/* Маленький текст, использующий более легкий шрифт */
.text-elephant-small {
    font-size: 25px; /* Размер шрифта */
    font-weight: 400; /* Легкий шрифт */
    margin-bottom: 20px; /* Отступ снизу, для создания пространства между текстом и кнопкой */
    color: white; /* Белый цвет текста */
    text-align: center; /* Выровнять текст по левому краю */
    margin-right: 430px; /* Отсутствие отступа справа */
    position: absolute; /* Абсолютное позиционирование */
    right: 0; /* Прижимаем текст к правому краю */
    margin-top: 10px;
    line-height: 120%; /* Межстрочный интервал */
}

/* Стили для кнопки "Хочу начать помогать прямо сейчас" */
.conteiner_button_elephant {
    font-size: 18px; /* Размер шрифта */
    width: 380px; /* Ширина кнопки */
    height: 47px; /* Высота кнопки */
    display: flex; /* Используем flexbox для размещения контента в кнопке */
    align-items: center; /* Выравнивание по вертикали */
    justify-content: center; /* Выравнивание по горизонтали */
    background-color: transparent; /* Прозрачный фон */
    border: 1px solid #ffffff; /* Серая граница */
    border-radius: 50px; /* Закругленные углы */
    cursor: pointer; /* Курсор "указатель" при наведении */
    margin-left: 675px; /* Отступ справа, чтобы кнопка была прижата к правому краю */
    margin-top: 180px;
    color: white; /* Белый цвет текста */
}

/* Эффект при наведении на кнопку */
.conteiner_button_elephant:hover {
    background: #BF632F; /* Легкое изменение фона при наведении */
}

.page_footer{
    width: 1900px;
    min-height: 400px;
}

.custom_lines hr {
    height: 1px; /* Толщина линии */
    width: 100%; /* Длина линии */
    background-color: #3E3E3E; /* Цвет линии */
    text-align: left; /* Выравниваем содержимое по левому краю внутри контейнера */
    border: none; /* Убираем границу, чтобы линия была сплошной */
    margin-top: 75px;
}

/* Стили для навигации: гибкое размещение элементов */
.footer_navigation {
    display: flex; /* Используем flexbox для размещения элементов */
    justify-content: space-between; /* Элементы распределяются с максимальным промежутком */
    align-items: center; /* Выравниваем элементы по вертикали по центру */
    padding: 15px 32px; /* Отступы внутри контейнера */
    position: relative; /* Для возможности использования абсолютного позиционирования внутри */
}

/* Стили для списка навигации */
.footer_navigation-list {
    display: flex; /* Список также является гибким контейнером */
    gap: 335px; /* Расстояние между элементами списка */
    list-style: none; /* Убираем маркеры у списка */
    margin-top: 20px;
}

/* Стили для ссылок в навигации */
.footer_navigation-title {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: #3D3D3D; /* Цвет текста (чёрный) */
    font-size: 35px; /* Размер шрифта */
    font-weight: 500; /* Полужирный шрифт */
    margin-left: -25px;
}

.footer_navigation_two {
    display: flex; /* Устанавливаем flex-контейнер для выравнивания элементов. */
    flex-direction: column; /* Располагаем элементы в колонку (вертикально). */
    align-items: left; /* Выравниваем элементы по левому краю */
    gap: 10px; /* Устанавливаем расстояние между элементами (10px). */
    margin-left: 6px;

    
}

.footer_navigation_two p {
    margin: 0; /* Убираем стандартные отступы сверху и снизу для абзацев. */
    font-size: 25px; /* Устанавливаем размер шрифта 20px. */
    cursor: pointer; /* Добавляем эффект указателя (курсор в виде руки) при наведении. */
    transition: color 0.3s ease; /* Добавляем плавный переход изменения цвета при наведении (0.3 секунды). */
}

.footer_navigation_two p:hover {
    color: #BF632F; /* Изменяем цвет текста на акцентный (зелёный) при наведении. */
}

.footer_navigation_three {
    display: flex; /* Устанавливаем flex-контейнер для выравнивания элементов. */
    flex-direction: column; /* Располагаем элементы в колонку (вертикально). */
    align-items: left; /* Выравниваем элементы по левому краю */
    gap: 10px; /* Устанавливаем расстояние между элементами (10px). */
    margin-top: -240px;
    margin-left: 460px;

}

.footer_navigation_three p {
    margin: 0; /* Убираем стандартные отступы сверху и снизу для абзацев. */
    font-size: 25px; /* Устанавливаем размер шрифта 20px. */
    cursor: pointer; /* Добавляем эффект указателя (курсор в виде руки) при наведении. */
    transition: color 0.3s ease; /* Добавляем плавный переход изменения цвета при наведении (0.3 секунды). */

}

.footer_navigation_three p:hover {
    color: #BF632F; /* Изменяем цвет текста на акцентный (зелёный) при наведении. */
}

.footer_navigation_four {
    display: flex; /* Устанавливаем flex-контейнер для выравнивания элементов. */
    flex-direction: column; /* Располагаем элементы в колонку (вертикально). */
    align-items: left; /* Выравниваем элементы по левому краю */
    gap: 10px; /* Устанавливаем расстояние между элементами (10px). */
    margin-top: -240px;
    margin-left: 940px;
}

.footer_navigation_four p {
    margin: 0; /* Убираем стандартные отступы сверху и снизу для абзацев. */
    font-size: 25px; /* Устанавливаем размер шрифта 20px. */
    cursor: pointer; /* Добавляем эффект указателя (курсор в виде руки) при наведении. */
    transition: color 0.3s ease; /* Добавляем плавный переход изменения цвета при наведении (0.3 секунды). */

}

.footer_navigation_four p:hover {
    color: #BF632F; /* Изменяем цвет текста на акцентный (зелёный) при наведении. */
}

.subscription_form {
    display: flex; /* Используется flexbox для удобного размещения вложенных элементов внутри контейнера. */
    flex-direction: column; /* Элементы внутри контейнера будут располагаться по вертикали (в колонку). */
    gap: 20px; /* Устанавливается промежуток в 10px между элементами внутри формы. */
    margin-top: 30px; /* Устанавливается отступ сверху на 30px, создавая пространство между соседними элементами. */
    padding: 15px; /* Добавляются внутренние отступы в 15px по всему периметру формы. */
    border-radius: 5px; /* Скругляются углы формы для более мягкого визуального восприятия. */
    width: 100%; 
    max-width: 500px; /* Ограничивает максимальную ширину формы 500px, чтобы она не растягивалась слишком сильно на широких экранах. */
    margin-left: 1385px; /* Сдвигает форму на 1385px от левого края, что очень сильно перемещает элемент вправо. */
    margin-top: -250px; /* Сдвигает форму вверх на 250px, что может вызвать перекрытие других элементов страницы. */
}


.subscription_form label {
    font-size: 20px; /* Устанавливает размер шрифта для метки (текста) в 20 пикселей. */
    font-weight: 500; /* Устанавливает полужирное начертание шрифта. */
    color: #3D3D3D; /* Устанавливает цвет текста в серый оттенок. */
    cursor: pointer; /* При наведении курсор превращается в указатель, как для кнопок. */
}


.subscription_form input[type="email"] {
    padding: 10px; /* Добавляет отступы внутри поля ввода, чтобы текст не прилипал к краям. */
    font-size: 16px; /* Устанавливает размер шрифта для текста внутри поля. */
    border-radius: 4px; /* Добавляет скругленные углы поля ввода. */
    margin-top: 5px; /* Добавляет небольшой отступ сверху, чтобы создать пространство между меткой и полем ввода. */
}


.consent {
    display: flex; /* Используется flexbox для выравнивания элементов по строке. */
    align-items: center; /* Центрирует элементы по вертикали в контейнере. */
    gap: 10px; /* Устанавливает промежуток между чекбоксом и меткой. */
}


.consent input[type="checkbox"] {
    width: 20px; /* Устанавливает ширину чекбокса. */
    height: 20px; /* Устанавливает высоту чекбокса, делая его квадратным. */
}


.consent label {
    font-size: 16px; /* Устанавливает размер шрифта для текста, описывающего чекбокс. */
    color: #3D3D3D; /* Устанавливает цвет текста серым оттенком. */
}


.submit_button {
    padding: 12px 20px; /* Устанавливает отступы внутри кнопки (сверху и снизу 12px, справа и слева 20px). */
    font-size: 16px; /* Устанавливает размер шрифта для текста внутри кнопки. */
    background-color: #BF632F; /* Устанавливает фоновый цвет кнопки в оранжевый оттенок. */
    color: white; /* Устанавливает цвет текста кнопки в белый. */
    border: none; /* Убирает стандартные границы кнопки. */
    border-radius: 5px; /* Скругляет углы кнопки, делая ее визуально мягче. */
    cursor: pointer; /* При наведении курсор превращается в указатель (что сигнализирует об интерактивности кнопки). */
    transition: background-color 0.3s ease; /* Добавляет плавное изменение фона кнопки при наведении. */
}

.submit_button:hover {
    background-color: #A15B27; /* Изменяет цвет фона на более темный оттенок оранжевого при наведении. */
}

.footer_logo {
    position: absolute; /* Абсолютное позиционирование */
    top: 50%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    margin-top: 4320px;
    margin-left: -925px;
}

.footer_address {
    font-size: 16px; /* Размер шрифта */
    font-weight: 400; /* Легкий шрифт */
    margin-bottom: 20px; /* Отступ снизу, для создания пространства между текстом и кнопкой */
    color: #979797; /* Белый цвет текста */
    text-align: left; /* Выровнять текст по левому краю */
    margin-right: 952px; /* Отсутствие отступа справа */
    position: absolute; /* Абсолютное позиционирование */
    right: 0; /* Прижимаем текст к правому краю */
    margin-top: 220px;
    line-height: 120%; /* Межстрочный интервал */
}

.footer_design {
    font-size: 16px; /* Размер шрифта */
    font-weight: 400; /* Легкий шрифт */
    margin-bottom: 20px; /* Отступ снизу, для создания пространства между текстом и кнопкой */
    color: #979797; /* Белый цвет текста */
    text-align: left; /* Выровнять текст по левому краю */
    margin-right: 30px; /* Отсутствие отступа справа */
    position: absolute; /* Абсолютное позиционирование */
    right: 0; /* Прижимаем текст к правому краю */
    margin-top: 220px;
    line-height: 120%; /* Межстрочный интервал */
}